<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>info</title>
  <style>
    body {
      margin: 0;
      display: flex;
      flex-direction: column;      /* элементы друг под другом */
      justify-content: center;     /* вертикально по центру */
      align-items: center;         /* горизонтально по центру */
      text-align: center;          /* центрируем текст внутри */
    }
  </style>
</head>
<body>

    <h1>Тут какая-то информация.</h1>

</body>
</html>